/* your styles go here */

#myFrame { width:100%; height:100%; }

#zach-social{
    padding-right: 70px;
    /* margin: 100px; */
}

.nav-item{
    padding-left: 30px;
}

.nav-item {
    text-align: right;
}

.ssbu {
    width:1000px;
}

.heythere {
    color:green; 
}

@media only screen and (max-width: 1200px) {
    #vid{
        width: 100%;
    }
}



/* .my-background {
    background-image: linear-gradient(#6f976f, #f1fff1, #6f976f);
}

.my-background-2 {
    background-color: #6f976f !important;
}

.nav-link {
    color:black !important;
}

.nav-link:hover {
    color:rgb(255, 255, 255) !important;
} */